/* General Styles */
body {
    margin: 0;
    
}

/* Nav Styles */
nav {
   background-color: rgb(132, 163, 133);
   border-style: dotted;
   display: flex;
   justify-content: space-between;
   align-items: center;

}

nav p, nav a {

}

nav a {
    
}

nav a:hover {
    
}

/* Footer Styles */
footer {
   background-color: #84a385; 
   border-style: dotted;
   display: flex;
   justify-content: center;
   gap: 10px
}

footer a {
    
}

footer a:hover {}

/* Splash Section */
.splash {}

.splash h1 {
    font-family: "Rancho", serif;
    font-size: 35px;
    font-style: normal;
    color: #0c460c;
    text-align: center;

}

.splash img {
    border-style: dotted;
    border-radius: 2em;
    border-width: 4px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.splash p {
    font-family: "Sawarabi Mincho", serif;
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
}

/* Horizontal Rules */
hr {
    border-top: dotted;
    border-width: 5px;
}

/* Sections */
section {
    font-family: "Sawarabi Mincho", serif;
    text-align: center;
}

/* Section Headings */
section h2 {
    font-family: "Rancho", serif;
    font-size: 30px;
    color:#0c460c
}

/* Paragraph Styles */
section p {
    font-family: "Sawarabi Mincho", serif;
}

/* link styles */
section a {
    color: #008000;
    text-decoration: none;

}
section a:hover {
    font-style: italic;
}

/* List Styles */
ul {
  list-style: inside;
}

dl {
    display: grid;
}
dl dt{
    display: grid;
}
dl dd{
    display: grid;
}

/* Project Section */
h3{
    font-family: "Rancho", serif;
    font-size: 25px;
}
.three-col {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
}

.card {
    background-color: #c5e0c5;
    border-style: dotted;
}

.card img {}

.card h3 {}

/* Contact Page Styles */
.one-col {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

form {
    font-family: "Rancho", serif;
    font-size: 30px
}

form input, form textarea {
   width: 200px;
   background-color:beige;
}

form input:focus, form textarea:focus {
    background-color: white;
}

form button {
    width: 100px;
    height: 30px;
    margin-bottom: 10px;
    background-color: #c5e0c5;
    font-family: "Sawarabi Mincho", serif;
}

form button:hover {
    
}

.ty{
    font-family: "Rancho", serif;
    text-align: center;
    font-size: 200px;
    border-style: dotted;
    background-color: #84a385;
}

.abc{
    text-align: center;
    font-family: "Sawarabi Mincho", serif;
}
